.comments-area {
    background-color: #ffffff !important;
    padding: 30px;
    border-radius: 20px !important;
    margin-bottom: 30px;
    margin-top: 30px;
    -webkit-box-shadow: 0px 5px 20px 0px rgb(69 67 96 / 10%);
    box-shadow: 0px 5px 20px 0px rgb(69 67 96 / 10%);
}

.comment-form-comment textarea, p.comment-form-author input[type="text"]   {
    background-color: #F9F9FF;
    border: 1px solid #eee;
    border-radius: 20px;
    padding: 22px 20px;
    font-size: 14px;
    color: #152035;
    display: inline-block;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    cursor: pointer;
}

.comment-form-comment textarea, p.comment-form-author input[type="text"]   {
    background-color: #F9F9FF;
    border: 1px solid #eee;
    border-radius: 20px;
    padding: 10px;
    font-size: 14px;
    color: #152035;
    display: inline-block;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    cursor: pointer;
}

.post-single-info .list-inline {
    margin-left: 0;
}

span.page-numbers.current {
    color: white;
    background-color:#f67280 ;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    text-align: center;
    margin-right: 8px;
    line-height: 35px;
    display: inline-block;
}
.pagination .nav-links a.page-numbers {
    color: #f67280;;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    text-align: center;
    margin-right: 8px;
    line-height: 35px;
    display: inline-block;
    border: 1px solid #f67280;

}
.custom-pagination-style {
    display: flex;
    justify-content: center;
}

